<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hallinto</title>
    <style>
      table {
        border-collapse: collapse;
      }
    </style>
  </head>
  <body>
    <a href="/" class="navbar-item">Home</a>

    <h1 class="title">Comptes</h1>
    <a class="button" href="/account-form">Ajouter un compte</a>

    {% for bank in accounts %}
    <h2>{{bank.bank/name}}</h2>
    <ul>
      {% for account in bank.account/_bank %}
      <li>
        <a href="/account/{{account.db/id}}">{{account.account/name}}</a>
      </li>
      {% endfor %}
    </ul>
    {% endfor %}
  </body>
</html>
