{% extends "templates/base.html" %}

{% block header %}
<nav>
  <a href="/">Accueil</a>
  <a href="/accounts">Comptes</a>
  <a href="/tracks">Sport</a>
</nav>

<h1 class="title">Comptes</h1>
{% endblock %}

{% block content %}
<a class="button" href="/account-form">Ajouter un compte</a>

{% for bank in accounts %}
<h2>{{bank.bank/name}}</h2>
<ul>
  {% for account in bank.account/_bank %}
  <li>
    <a href="/account/{{account.db/id}}">{{account.account/name}}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% endblock %}
